In [1]:
import pandas as pd

In [2]:
item_cols = {
    'itemname': 'item_name',
    'wordroot': 'item_root',
    'creator': 'user',
    'time': 'created_date',
    'isroot': 'is_root',
    'meaning': 'meaning',
    'meaningEn': 'meaning_en',
    'mainMeaningWordclass': 'main_meaning_word_class',
    'wordclass': 'word_class',
    'culture': 'cultural_notes', 
    'focus': 'focus',
    'idom': 'phrase',
    'idomEn': 'phrase_en',
    'idomCh' : 'phrase_ch',
    'indexPrefix': 'char_strokes_first',
    'cindex': 'char_strokes_all',
    'occurrence': 'frequency',
    'remark': 'grammar_notes',
    'sentence': 'sentence',
    'sentenceCh': 'sentence_ch',
    'sentenceEn': 'sentence_en',
    'source': 'source',
    'tagging': 'tag',
    'toda': 'toda',
    'todar': 'toda_root',
    'truku': 'truku',
    'trukur': 'truku_root',
    'variant': 'variant'
}

meaning_cols = {
    'itemname': 'item_name',
    'meaningno': 'meaning_no',
    'sentenceno': 'sentence_no',
    'meaning': 'meaning',
    'meaningEn': 'meaning_en',
    'sentence': 'sentence',
    'sentenceCh': 'sentence_ch',
    'sentenceEn': 'sentence_en',
    'wordclass': 'word_class',
}

phrase_cols = {
    'itemname': 'item_name',
    'idom': 'phrase',
    'idomCh': 'phrase_ch',
    'idomEn': 'phrase_en',
}

In [4]:
items = pd.read_csv('item_utf8.csv', usecols=item_cols.keys())
items.rename(mapper=item_cols, axis='columns', inplace=True)
items.drop_duplicates(inplace=True)
items.to_csv('seediq_items_updated.csv', index=False)

In [5]:
extra_meaning = pd.read_csv('extra_meaning_utf8.csv', usecols=meaning_cols.keys())
extra_meaning.rename(mapper=meaning_cols, axis='columns', inplace=True)
extra_meaning.to_csv('seediq_extra_meaning_updated.csv', index=False)

In [6]:
extra_phrase = pd.read_csv('extra_idom_utf8.csv', usecols=phrase_cols.keys())
extra_phrase.rename(mapper=phrase_cols, axis='columns', inplace=True)
extra_phrase.to_csv('seediq_extra_phrases.csv', index=False)

In [40]:
df = pd.read_csv('seediq_items_updated.csv')

In [53]:
df.query('item_name == "baso 2"')

,item_name,toda,truku,is_root,item_root,focus,toda_root,truku_root,word_class,main_meaning_word_class,...,source,grammar_notes,cultural_notes,variant,user,created_date,char_strokes_all,char_strokes_first,tag,frequency
5270,baso 2,NaN,NaN,yes,baso 2,NaN,NaN,NaN,動詞,動詞,...,NaN,本族傳統的爐灶(rqeda三腳灶)是，以三個石塊等分圍立於地面上；煮熟的食物常事先自爐灶上移...,NaN,NaN,admin,2011-12-30,11移12開0)07冷09卻,十一劃/移,NaN,0

In [50]:
sorted(df[df['item_name'].str.contains('2')]['item_name'].unique())

['asuw2',
 'ayu 2',
 'baso 2',
 'bbali 2',
 'beebu 2',
 'betaq 2',
 'bilaq 2',
 'bnarah 2',
 'bukung 2',
 'bukuy2',
 'cmehaq2',
 'cuqi2',
 'daha2',
 'dara2',
 'gexal2',
 'hei 2',
 'ita 2',
 'kahan2',
 'kari2',
 'krmani2',
 'maku2',
 'melux2',
 'misa2',
 'na2',
 'nasi2',
 'netun2',
 'ngacun 2',
 'nita 2',
 'pdahung 2',
 'pgetuq 2',
 'plabu 2',
 'pqecun2',
 'qburung 2',
 'rai2',
 'rehaq 2',
 'sari 2',
 'seung2',
 'skadi 2',
 'snais2',
 'spui2',
 'sraki 2',
 'steetu 2']

In [33]:
item_set = set(items['item_name'].unique())
phrase_set = set(extra_phrase['item_name'].unique())
meaning_set = set(extra_meaning.query('meaning_no == 1')['item_name'].unique())

In [57]:
sorted(extra_meaning[extra_meaning['meaning_no'] == 1]['item_name'].unique())

['ali',
 'anu',
 'atak',
 'baso 1',
 'bbali 1',
 'berih',
 'bngerux',
 'bukung 1',
 'bungu',
 'buuc',
 'cmehaq1',
 'cula',
 'cuqi1',
 'curi',
 'dara1',
 'daus',
 'ddara',
 'dmurun',
 'dnyangan',
 'doosun',
 'dqeras',
 'druni',
 'dungus',
 'durun',
 'epux',
 'etuk',
 'eyux',
 'gaga',
 'galiq',
 'gmegang',
 'gsegus',
 'guyuq',
 'hiqun',
 'icin',
 'icux',
 'kacuy',
 'kadi',
 'kenu',
 'keruc',
 'kesa',
 'kesun',
 'kgeli',
 'kretan',
 'kulo',
 'kulu',
 'kuluk',
 'kurang',
 'lihu',
 'limuk',
 'lmiqu',
 'maha',
 'mangal',
 'mbasi',
 'mdheriq',
 'melux',
 'meniq',
 'mhuwe',
 'mkmatak',
 'mnais',
 'mnkala',
 'mptgesa',
 'mtduwa',
 'muuyas',
 'nangi',
 'ngacun',
 'ngungu',
 'nii',
 'nnniqan',
 'oda',
 'paha',
 'peruh',
 'pgatuk',
 'pnaadis',
 'pngerah',
 'posa',
 'psai',
 'psrobo',
 'pungu',
 'qango',
 'qbsuran',
 'qbulic',
 'qburung',
 'qcahul',
 'qheruy',
 'quduq',
 'qyqeya',
 'rabang',
 'rako',
 'rebu',
 'rudan',
 'rudu',
 'ruhu',
 'serus',
 'skesik',
 'slau',
 'smdangi',
 'smino',
 'smkela',
 'srahuq',
 'tama',
 'tdheriq',
 'tdoruy',
 'temaq',
 'tndadal',
 'tnunan',
 'toting',
 'tuting',
 'ubung',
 'urung',
 'ware',
 'wawa',
 'yahan']

In [62]:
items.query("item_name == 'baso 1'")

,item_name,toda,truku,is_root,item_root,focus,toda_root,truku_root,word_class,main_meaning_word_class,...,source,grammar_notes,cultural_notes,variant,user,created_date,char_strokes_all,char_strokes_first,tag,frequency
70,baso 1,nalaq,basaw,yes,baso 1,NaN,NaN,NaN,多重詞性,名詞,...,nalaq; beras; dhequy; macu,NaN,baso 專指一些從身上冒出來的小膿包，如，針眼等。beras 則指像疔一樣的大膿包，膿液則...,NaN,iwanperin,2009-08-23,17膿05包,十七劃/膿,日常生活(含用品),0

In [63]:
extra_meaning[extra_meaning['item_name'] == 'baso']

,item_name,meaning_no,meaning,meaning_en,sentence,sentence_ch,sentence_en,word_class
564,baso 2,0,NaN,NaN,"Baso begu ga di Rabe, ado so ini ktilux de mahun.",Rabe，把那(煮熟的)湯移離爐灶，喝起來才不那麼熱。,"Rabe, remove that soup from the kitchen stove ...",動詞

In [59]:
extra_meaning.query("item_name == 'baso 1'")

,item_name,meaning_no,meaning,meaning_en,sentence,sentence_ch,sentence_en,word_class
59,baso 1,1,男性的名字,male name,Baso ngayan na tama mu rudan.,我祖父的名字叫Baso。,My grandpa's name is Baso.,名詞
60,baso 1,2,西榖米,sago,Hai tmekan baso ga.,去樁打baso米。,Go pound the sago.,名詞
399,baso 1,3,將煮熟之物移離爐灶,to remove the cooked food from the kitchen stove,"Baso begu ga di Rabe, ado so ini ktilux de mahun.",Rabe，把那(煮熟的)湯移離爐灶，喝起來才不那麼熱。,"Rabe, remove that soup from the kitchen stove ...",動詞

In [32]:
extra_meaning['meaning_no'][0] == '0'

False